:root {
  --textcolor: #787878;
  --height: 870px;
  --pink: #ff6d6d;
  --font-text: 16pt;
  --color-text: #231f20;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}
i:hover {
  opacity: 0.6;
}
//font-weight: 300
@font-face {
  font-family: SourceSansPro300;
  src: url("../font/SourceSansPro-ExtraLight.otf");
}
//font-weight: 400
@font-face {
  font-family: SourceSansPro400;
  src: url("../font/SourceSansPro-Light.otf");
}
//font-weight: 500
@font-face {
  font-family: SourceSansPro500;
  src: url("../font/SourceSansPro-Regular.otf");
}
//font-weight: 600
@font-face {
  font-family: SourceSansPro600;
  src: url("../font/SourceSansPro-Semibold.otf");
}
//font-weight: 700
@font-face {
  font-family: SourceSansProbold;
  src: url("../font/SourceSansPro-Bold.otf");
}

body {
  font-family: SourceSansPro400;
  font-optical-sizing: auto;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.header_one {
  background: url("../img/backgorund1.png") top center/ cover no-repeat;
  width: 1600px;
  height: 978.09px;
  .header_nav {
    padding: 45.64px 186px 107px 244px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .nav_logo {
    }

    .nav_navbar {
      display: flex;
      align-items: center;

      .navbar_list {
        display: flex;

        .list_item {
          padding-top: 22px;
          padding-right: 50px;
          &:first-child {
            padding-right: 50px;
          }
          &:nth-child(2) {
            padding-right: 45px;
          }
          &:nth-child(3) {
            padding-right: 48px;
          }
          &:nth-child(4) {
            padding-right: 49px;
          }

          &:last-child {
            padding-right: 56px;
          }
          a {
            font-size: 12pt;
            font-family: "SourceSansPro500";
            color: #231f20;
          }
        }
      }

      .nav_search {
        position: relative;
        margin-top: 13px;
        input {
          padding: 14.21px 40px 12.21px 15px;
          border: 4px solid var(--color-text);
          width: 244px;
          height: 46px;
          border-radius: 50px;
          margin-bottom: -4px;
          font-size: 12pt;
          color: var(--color-text);
          outline: none;
          background-color: transparent;
          &::placeholder {
            font-size: 12pt;
            color: var(--color-text);
            font-family: "Source Sans 3", sans-serif;
            font-weight: 500;
          }
        }
        .search_icon {
          position: absolute;
          right: 12px;
          top: 59%;
          transform: translateY(-50%);
          i {
            font-size: 20.3908pt;
          }
        }
      }
      .nav_menu {
        display: none;
      }
      .nav_cart {
        font-size: 20.3908pt;
        margin-top: 25px;
        margin-left: 17px;
        position: relative;
        a {
          color: var(--color-text);
        }
        .cart_number {
          font-size: 17.579px;
          position: absolute;
          top: -7px;
          right: -10px;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: rgb(209, 37, 43);
          color: rgb(255, 255, 255);
        }
      }
    }
  }
  .header_premium {
    display: flex;
    padding: 0 112px 0 245px;
    .premium_content {
      padding-top: 168px;
      padding-right: 27px;
      .conttent_collection {
        margin-bottom: 77px;
        .collection_title {
          font-size: 51pt;
          font-weight: 600;
          /* margin-top: 46px; */
          padding-bottom: 42px;
          line-height: 1;
        }
        .collection_text {
          font-size: 12.3pt;
          color: var(--color-text);
          /* margin-top: 71px; */
          padding-bottom: 25px;
          font-weight: 600;
          line-height: 1.5;
        }
        span {
          font-size: 26pt;
          font-weight: 700;
        }
      }
      .content_button_view {
        width: 100%;
        display: flex;

        button {
          font-family: SourceSansPro400;
          padding: 34.1px;
          width: 301px;
          margin-left: 1px;
          font-size: 11.6pt;
          background-color: #53c0c7;
          color: #fff;
          outline: none;
          border: none;
        }
      }
    }
  }
  .header_productone {
    position: relative;

    img {
      margin-top: -2px;
    }
    .productone_absolute {
      position: absolute;
      top: 38px;
      right: 46px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .absolute_share {
        display: flex;
        &:first-child {
          margin-bottom: 10px;
        }
        a {
          margin-right: 11px;
          font-size: 12.3pt;
          color: #fff;
          text-decoration: underline;
          font-weight: 600;
        }
        span {
          font-size: 12.3pt;
          font-weight: 600;
          color: #fff;
        }
      }
    }
  }
}

.banner {
  height: 740px;
  display: flex;
  padding: 191px 245px 77px 215px;
  .banner_photo img {
    padding: 10px 124px 10px 0;
  }
  .banner_content {
    display: flex;
    flex-direction: column;
    .content_living {
      position: relative;
      font-size: 12pt;
      font-weight: 600;
      display: block;
      &::before {
        content: "";
        position: absolute;
        bottom: -7px;
        width: 83px;
        height: 4px;
        background-color: var(--color-text);
      }
    }

    .content_title {
      font-size: 40pt;
      font-weight: 600;
      line-height: 1.1;
      margin: 37px 0 34px 1px;
    }
    .content_text {
      font-size: 12.3pt;
      color: var(--color-text);
      line-height: 22.2px;
      margin-bottom: 75px;
      font-weight: 600;
    }
    button {
      font-family: SourceSansPro400;
      padding: 36px 55px 37px 57px;
      width: 250px;
      height: 87px;
      letter-spacing: 0.1px;
      margin-left: 2px;
      margin-top: 1px;
      font-size: 11.3pt;
      background-color: #53c0c7;
      color: #fff;
      outline: none;
      border: none;
    }
  }
}

.product {
  width: 1600px;
  height: 1253px;
  background: url("../img/background2.png") top center/ cover no-repeat;
  padding: 100px 0px 178px 215px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  .product_title {
    font-size: 39pt;
    font-weight: 600;
    padding-top: 49px;
    padding-bottom: 134px;
    padding-right: 109px;
    display: flex;
    justify-content: center;
  }
  .product_infomation {
    display: flex;
    .infomation_item {
      width: 350px;
      height: 764px;
      margin: 0 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .item_position,
      .item_position_two {
        position: relative;
        display: grid;
        span {
          position: absolute;
          top: 5px;
          left: 12px;
          color: var(--color-text);
          font-weight: 600;
          font-size: 12.2pt;
          &::before {
            content: "";

            position: absolute;
            bottom: -7.1px;
            width: 44px;
            height: 3px;
            background-color: var(--color-text);
          }
        }
      }
      .item_position_two {
        span {
          left: 22px;
          &::before {
            width: 47px;
          }
        }
      }
      img {
        margin-top: -5px;
      }
      h3 {
        font-size: 24pt;
        font-weight: 600;
        color: var(--color-text);
        padding: 25px 0 18px 0;
      }
      .item_buy {
        display: flex;
        align-items: center;
        line-height: 0.9;
        margin-bottom: 32px;
        margin-left: 7px;

        .buy_initial,
        .buy_present,
        .buy_text,
        .buy_package {
          font-size: 13pt;
          color: #d1252b;
        }
        .buy_initial {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 101%;
            height: 0.9px;
            background-color: #d1232a;
          }
        }
        .buy_present {
          color: var(--color-text);
        }
        .buy_boder {
          background-color: var(--color-text);
          width: 1px;
          height: 16px;
          margin-left: 9px;
          margin-right: 6px;
        }
        .buy_text {
          color: var(--color-text);
          font-size: 12.5pt;
        }
        .buy_package {
          color: var(--color-text);
          display: flex;
          padding-left: 5px;
        }
      }
      button {
        font-family: SourceSansPro400;
        padding: 36px;
        width: 251px;
        font-size: 11pt;
        background-color: #53c0c7;
        color: #fff;
        outline: none;
        border: none;
      }
    }
  }
}

.gallery {
  padding: 0 229px 153px 230px;
  height: 1132px;

  .gallery_view {
    display: flex;
    .view_man {
      position: relative;
      margin: 15px;
      img {
      }
      .lounge_overplay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 5px;
        padding: 0 190px;

        display: flex;
        flex-direction: column;

        background-color: #f9a34c;
        opacity: 0.85;

        h3 {
          font-size: 24pt;
          text-align: center;
        }
        p {
          font-size: 12.3pt;
          position: relative;
          text-align: center;

          &::before {
            content: "";
            position: absolute;
            bottom: -4px;
            left: 17px;
            width: 116px;
            height: 3px;
            background-color: var(--color-text);
          }
        }
      }

      .lounge_one {
        display: none;
        padding: 202px 195px 0px 196px;

        .one_view {
          margin-top: 14px;
        }
      }
      &:hover .lounge_overplay {
        display: block;
      }
    }
    .view_two {
      display: grid;
    }
    .view_bedroom {
      margin-bottom: 5px;
      .lounge_bedroom {
        display: none;
        background-color: #e7758e;
        padding: 71px 187px 0px 186px;

        .bedroom_view {
          margin-top: 15px;
          &::before {
            left: 25px;
          }
        }
      }
    }
    .view_kitchens {
      margin: 15px;
      .lounge_kitchens {
        display: none;
        background-color: #8579af;
        padding: 68px 186px 0px 186px;
        .kitchens_view {
          margin-top: 14px;
          &::before {
            left: 25px;
          }
        }
      }
    }
  }

  .gallery_two {
    display: flex;

    .view_man {
      position: relative;
      margin: 4px 13px 15px 15px;
      img {
      }

      .lounge_overplay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 5px;
        padding: 0 190px;

        display: flex;
        flex-direction: column;

        background-color: #f9a34c;
        opacity: 0.85;

        h3 {
          font-size: 24pt;
          text-align: center;
        }
        p {
          font-size: 12.3pt;
          position: relative;
          text-align: center;

          &::before {
            content: "";
            position: absolute;
            bottom: -6px;
            width: 107px;

            height: 3px;
            background-color: var(--color-text);
          }
        }
      }
      &:hover .lounge_overplay {
        display: block;
      }
      .lounge_special {
        display: none;
        background-color: #46464e !important;
        padding: 140px 100px 0 103px;
        .special_title {
          color: #fff;
        }
        .special_view {
          margin-top: 16px;
          color: #fff;
          &::before {
            left: 35px;
            bottom: -4px;
            width: 76px;
            background-color: #fff;
          }
        }
      }

      .lounge_sighting {
        display: none;
        background-color: #53c0c7 !important;
        padding: 152px 218px 0px 187px;
        .sighting_view {
          margin-top: 16px;
          &::before {
            bottom: -5px;
            width: 115px;
            left: 107px;
          }
        }
      }
    }
  }
}

.mailing {
  display: flex;
  height: 514px;
  padding: 140px 332px 162px 240px;
  width: 1600px;
  .mailing_information {
    margin-right: 65px;
    h1 {
      font-size: 39pt;
      margin-bottom: 55px;
    }

    p {
      font-size: 12.3pt;
      color: var(--color-text);
      line-height: 24.1px;
      font-weight: 600;
      margin-left: 4px;
    }
  }
  .mailing_login {
    .login_input {
      display: flex;
      .input_share {
        display: flex;
        flex-direction: column;
        padding-top: 17px;
        label {
          font-size: 12pt;
          font-weight: 600;
        }
        input {
          font-family: SourceSansPro400;
          padding: 11px;
          background-color: transparent;
          border: 0;
          width: 255px;
          border-bottom: 1px #a7a9ac solid;
          font-size: 12.3pt;
          font-weight: 600;
          outline: none;
          color: var(--color-text);
        }
      }
      .input_email {
        margin-right: 31px;
      }
    }
    .login_submit {
      width: 547px;
      margin-top: 50px;
      button {
        font-family: SourceSansPro400;
        width: 100%;
        height: 88px;
        background-color: #f9a34c;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 31px 65px 30px 45px;
        font-size: 11.3pt;
        border: none;
        outline: none;
        color: #fff;
      }
    }
  }
}

.footer {
  background: url("../img/background3.png");
  height: 623px;
  width: 1600px;
  .footer_list {
    padding: 102px 242px 88px 246px;
    position: relative;
  }
  .footer_main {
    display: flex;
    .footer_department {
      margin-right: 129px;
      h3 {
        font-size: 24pt;
        margin-bottom: 15px;
        font-weight: bold;
      }
      .footer_two {
        display: flex;
        .footer_living {
          padding-right: 70px;
          .footer_item {
            h6 {
              font-size: 12.6pt;
              margin-bottom: 11px;
            }
            ul {
              margin-bottom: 16px;
              li {
                color: #231f20;
                padding: 2px 0 3px 0;
                a {
                  color: var(--color-text);
                }
                a:hover {
                  opacity: 0.6;
                }
              }
            }
          }
        }
      }
      .footer_bathoom {
        .footer_margin {
          margin-top: 4px;
          ul {
            li {
              &:last-child {
                padding-top: 0px;
                a {
                  color: var(--color-text);
                }
                a:hover {
                  opacity: 0.6;
                }
              }
            }
          }
        }
        .footer_item {
          margin-top: 2px;
          h6 {
            font-size: 12pt;
            margin-bottom: 11px;
          }
          ul {
            margin-bottom: 16px;
            li {
              color: #231f20;
              padding: 3px 0;
              a {
                color: var(--color-text);
              }
              a:hover {
                opacity: 0.6;
              }
            }
          }
        }
      }
    }
    .footer_contact {
      h3 {
        font-size: 24pt;
        margin-bottom: 15px;
        font-weight: bold;
      }
      .footer_team {
        margin-top: 15px;
        h6 {
          margin-bottom: 12px;
        }
        ul {
          li {
            &:first-child {
              padding-top: 4px;
              padding-left: 3px;
              padding-bottom: 1px;
            }
            a {
              color: var(--color-text);
            }
            a:hover {
              opacity: 0.6;
            }
          }
        }
      }

      .footer_item {
        h6 {
          font-size: 12pt;
          margin-bottom: 11px;
        }
        ul {
          margin-bottom: 14px;
          li {
            color: #231f20;
            padding: 3px 0;
          }
          a {
            color: var(--color-text);
          }
          a:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
  .footer_network {
    float: right;
    padding-right: 10px;
    position: absolute;
    bottom: 95px;
    right: 226px;
    a:hover {
      opacity: 0.6;
    }
    img {
      padding: 0 4.8px;
      &:first-child {
        padding-right: 2px;
      }
      &:nth-child(2) {
        padding-right: 4px;
      }
      &:nth-child(3) {
        padding-right: 3px;
      }
      &:nth-child(4) {
        padding-right: 1px;
      }
      &:last-child {
        padding-right: 3px;
      }
    }
  }
  .footer_border {
    width: 927px;
    height: 0.9px;
    background-color: #787878;
  }
  .footer_made {
    padding: 55px 0 0 249px;
    span {
      font-size: 12.3pt;
      color: var(--color-text);
    }
  }
}
